.wrapper {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height:120px;
}
.label {
    height: 36px;
    padding-top: 15px;
    padding-bottom: 1px;
    width: 40px;
    font-size: 15pt;
    text-align: center;
    border-radius: 6px 0px 0px 6px;
    background-color: #F4F4F4;
}

.inputbox {
    font-size: 13pt;
    min-width: 300px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: space-between;
    
}

.box {
    height: 50px;
    width: 245px;
    border: none;
    background-color: #FAFAFA;
}
.button {
    height: 50px;
    width: 94px;
    right: 30%;
    background-color: #02b6d6;
    border-radius: 0px 7px 7px 0px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.cards {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 570px;
}
.channel {
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-left: 10px;
    color: #979797;
    border-bottom: 1px solid #ededed;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.post {
    margin: 8px;
    border: 1px solid grey;
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
}

.top {
    margin: 2px 5px;
    padding-right: 8px;
    padding-top: 6px;
    padding-left: 95%;
    color: #02b6d6;
}

.down {
    margin: 1px 15px;
    padding-bottom: 20px;
    border-radius: 12px; 
    display: flex;
    flex-direction: row;
}

.frame {
    margin-left: 5px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    margin-left: 20px;
}

.avatar {
    margin-right: 20px;
    border-radius: 50%;
    height: 80px;
}

.subname {
    margin-bottom: 10px;
    color: #2d2d2d;
    font-weight: 350;
}
.prefix {
    color: #979797;
}

.title {
    margin: 8px;
    color: #02b6d6;;
    font-weight: 600;
    font-size: 16px;
}

.scorendate {
    margin-top: 8px;
    color: #979797;
    vertical-align: bottom;
    font-size: 12px;
}

.score {
    padding-right: 7px;
}

.space {
    padding-left: 10px;
    padding-right: 10px;
}